<div class="wrapper">
    <div class="main">
        <p class="main__suptitle">абсолютно легально</p>
    <h1 class="main__title">Добываем крипто валюту <span class="bold">для вас</span></h1>
    <p class="main__content">Участвуя в кибер спортивных соревнованиях с наградой за действия </p>
    <button class="main__btn btn">Стать клиентом</button>
    
    <div class="price">
        <span class="price__suptitle">цена входа</span>
        <span class="price__title">от 100 000₽</span>
        <span class="price__subtitle">за майнинг слот</span>
    
    </div>
    
    <div class="sale">
        <div>
            <span class="sale__title">+9%</span>
        <span class="sale__subtitle">в месяц</span>
        </div>
        <span class="sale__desc">Текущая средняя доходность на сумму инвестиций в крипто киберспорт</span>
    
    </div>
    </div>
</div>