<div class="auth"  id="modal2">
    <button class="auth__btn-login">Вход</button>
    <div class="btn__close"></div>
    <h2 class="auth__title">Авторизация</h2>
    <img src="../img/pin.jpg" alt="pin" class="auth__img" data-next='3'>
    <h3 class="auth__subtitle">Введите код</h3>
    <fieldset class="auth__fieldset auth__fieldset--pin">
        <input type="tel" class="auth__pin" placeholder=""  maxlength="1">
        <input type="tel" class="auth__pin" placeholder=""  maxlength="1">
        <input type="tel" class="auth__pin" placeholder=""  maxlength="1">
        <input type="tel" class="auth__pin" placeholder=""  maxlength="1">
        <input type="tel" class="auth__pin" placeholder=""  maxlength="1">
    </fieldset>
    <p class="auth__msg">Мы отправили SMS код для провери на Ваш телефон + 7 (***) ***-34-44</p>
    <button class="auth__btn auth__re-send" data-next='3'>Отправить код ещё раз</button>
</div>