<div class="auth" id="modal1">
    <button class="auth__btn-login">Вход</button>
    <div class="btn__close"></div>
    <h2 class="auth__title">Авторизация</h2>
    <img src="../img/auth1.jpg" alt="auth" class="auth__img">
    <h3 class="auth__subtitle">Укажите телефон для входа</h3>
    <fieldset class="auth__fieldset">
        <lavel for="auth1" class="auth__label">Моб. телефон</lavel>
    <input id="auth1" type="tel" class="auth__input" placeholder="+7 (——— ) ——— - —— - ——
        "  maxlength="18">
    </fieldset>
    <button class="auth__btn" data-next='2'>Продолжить</button>
</div>